#
# Altera Network Device Configuration
# 

config NET_VENDOR_ALTERA
	bool "Altera network devices"
	default y
	---help---
	Altera FPGA SoC network drivers.

if NET_VENDOR_ALTERA

config ALTERA_TSE
	tristate "Altera Triple-Speed Ethernet MAC support"
	depends on HAS_DMA
	select PHYLIB
	---help---
	  This driver supports the Altera Triple-Speed (TSE) Ethernet MAC.

	  To compile this driver as a module, choose M here. The module
	  will be called alteratse.

endif # NET_VENDOR_ALTERA
